@import '../../assets/styles/extendstyles.scss';

.box {
  @include flex(flex, normal, center, row);
}

.item {
  &__dots {
    @include flex(flex, center, flex-end, row);
    @include font(16px, 16px, 400);

    width: 44px;
    height: 44px;

    color: #000;
  }

  &:not(:last-child) {
    margin-right: 6px;
  }
}