@import '../../assets/styles/extendstyles.scss';

.box {
  @include flex(flex, center, center, row);

  width: 32px;
  height: 32px;
  border-radius: 50%;
  flex-shrink: 0;

  background-color: #aa8eec;
}

.count {
  @include font(18px, 24px, 400);

  color: #000
}