@import '../../assets/styles/extendstyles.scss';

.box {
  @include flex(flex, normal, normal, column);

  padding: 16px 16px 32px;
  border: 1px solid $gray;
  border-radius: 6px;

  background-color: $grayLight;
}

.form {
  &__controls {
    @include flex(flex, space-between, normal, row);

    position: relative;
  }
}

.title {
  @extend %h5;

  margin-bottom: 16px;

  color: #000;
}

.input {
  @include font(16px, 16px, 400);

  width: 100%;
  margin-right: 16px;
  border-radius: 6px;
  border: 1px solid $gray;
  padding: 8px;

  color: #000;

  background-color: #fff;

  &::placeholder {
    @include font(16px, 16px, 400);
  }
}

.btn {
  @include flex(inline-flex, center, center, row);
  @include font(16px, 16px, 400);

  padding: 8px 16px;
  border: 1px solid $gray;
  border-radius: 6px;

  background-color: $grayLight;
  cursor: pointer;
}

.error {
  @include position(absolute, calc(100% + 6px), 0, initial, initial, 1);
  @include font(14px, 14px, 400);

  color: red;
}
