@import '../../assets/styles/extendstyles.scss';

.box {
  @include flex(flex, center, center, row);

  width: 44px;
  height: 44px;
  border-radius: 6px;
  flex-shrink: 0;
  border: 1px solid $gray;

  cursor: pointer;
  background-color: $grayLight;

  transition: background-color .2s ease;

  &.active {
    background-color: $gray;
  }
}

.number {
  @include font(16px, 16px, 400);

  color: #000;
}