@import './extendstyles.scss';

.app {
  height: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.main {
  padding: 16px;
}

.content {
  @include flex(flex, space-between, normal, row);

  column-gap: 16px;

  &__item {
    @include flex(flex, normal, normal, column);

    width: 50%;
    max-width: 550px;

    @media (max-width: $media768) {
      width: 100%;
      max-width: none;
    }
  }

  @media (max-width: $media768) {
    flex-direction: column;
    column-gap: 0;
    row-gap: 16px;
  }
}

.form {
  margin-bottom: 16px;
}