// Mixins
@mixin font ($fz, $lh, $fw) {
  font-family: 'Rubik', sans-serif;
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
}

@mixin position ($pos, $t, $l, $r, $b, $z) {
  position: $pos;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
  z-index: $z;
}

@mixin flex ($d, $jus, $al, $fxd) {
  display: $d;
  justify-content: $jus;
  align-items: $al;
  flex-direction: $fxd;
}

@mixin size_grid ($col,$cols) {
  width: calc(((100% - (24px * ($cols - 1)))/$cols) * $col + (24px * ($col - 1)));
}