// Templates
// Images
%img {
  display: block;
  width: 100%;
  height: auto;
}

%img-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

%h5 {
  @include font(18px, 22px, 400);

  color: #000;
}