@import '../../assets/styles/extendstyles.scss';

.box {
  @include flex(flex, normal, normal, column);
}

.title {
  @extend %h5;

  margin-bottom: 16px;
}

.list {
  margin-bottom: 16px;
}

.item {
  border: 1px solid $gray;
  border-radius: 6px;
  padding: 16px;

  background-color: $grayLight;

  &:nth-child(even) {
    border: none;

    background-color: transparent;
  }
}