@import '../../assets/styles/extendstyles.scss';

.box {
  @include flex(flex, space-between, center, row);
}

.number {
  @include font(16px, 16px, 400);

  width: 6%;

  color: #000;
}

.link {
  @include font(16px, 18px, 400);

  width: 35%;

  color: #7632ff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.counter {
  width: auto;
}